.paginationBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.pagesNumberBox,
.pagesCountBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.prevButton,
.nextButton {
  height: 30px;
}

.inputField .MuiInputBase-root {
  height: 40px;
  width: 100px;
}
