.layoutBox {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.innerBox {
    flex: 1;
    display: flex;
}

.outletBox {
    flex: 1;
}
